{% extends 'base.html' %}
{% block content %}
<div class="py-5">
    <h2>About Page</h2>
    <p>
        The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest
        in
        recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain
        when
        Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
        Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
        Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
        action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned
        to
        leave on other business, welcomed a fourteenth to fill into their party.
    </p>
</div>

<!-- Thorin Oakenshield -->
<div class="row featurette py-2">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the mountain city of The Lonely
            Mountain. Early in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the
            dragon Smaug in TA 2770. While in exile, he quickly grew to become a capable warrior. This was demonstrated
            when he participated in the Battle of Azanulbizar in TA 2799. He marched with one of the Dwarven armies
            beneath the East-gate of Moria. At some point in the fighting, his shield broke, and using an oaken tree
            branch found on the floor as a shield, he gained the epithet "Oakenshield," which would remain with him even
            in death.[2]

            Thorin eventually became King-in-Exile of Durin's Folk after his father went missing, and presumably died in
            the dungeons of Dol Guldur.</p>
    </div>
    <div class="col-md-5">
        <img src="https://imgs.aftonbladet-cdn.se/v2/images/5546d5bf-172a-4c82-bdd6-e36aa615c6e8?fit=crop&h=533&q=50&w=800&s=b93c459f94d81ace008c5f5be2ee75fa784e3c22"
            alt="profile pic on Thorin Oakenshield">
    </div>
</div>
<!-- Fili and Kili -->
<div class="row featurette py-2">
    <div class="col-md-5">
        <img src="https://media.cineblog.it/h/hob/hobbitfilikili.jpg" alt="Fili and Kili">
    </div>
    <div class="col-md-7">

        <h3>Fili and Kili</h3>
        <p>
            Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also nephews
            of Frerin, grandsons of Thráin II, and great-grandsons of Thror. Fíli's most distinguishing feature was his
            long nose, the longest of any of the Dwarves on the Quest of Erebor.[2]

            As the youngest Dwarves, Fíli and Kíli had the sharpest eyes so they were often sent scouting or searching.
            They found the Goblins' cave in the Misty Mountains.[3]

            Fili&#039;s burial
            Fíli's burial

            Kili&#039;s burial
            Kíli's burial

            With the other Dwarves, Fíli and Kíli encountered spiders and were later imprisoned by the Elvenking
            Thranduil.[4] They escaped the cells thanks to Bilbo, traveling down the river in barrels until they reached
            Lake-town.[5] The brothers accompanied Thorin and Bilbo to Lake-town while the others rested by the
            river.[6]

            At the feet of the Lonely Mountain, Fíli and Kíli scouted Ravenhill and found the Front Gate with Balin and
            Bilbo. Also, with Bilbo, they found the side-door leading into the mountain.[7]

            Both brothers were killed while defending the mortally wounded Thorin Oakenshield in the Battle of the Five
            Armies, and all three were buried with honor.
        </p>
    </div>
</div>
<!-- Oin -->
<div class="row featurette py-2">
    <div class="col-md-7">
        <h3>Óin</h3>
        <p>Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. He usually wore a
            brown-hooded cloak when travelling. Óin fought in the Battle of Azanulbizar along with Thorin Oakenshield,
            and in TA 2941 joined with Thorin and Company on the quest to reclaim the Lonely Mountain wearing a brown
            hood.[2] Óin was one of the Dwarves who bet that Bilbo would come along with them to reclaim the Lonely
            Mountain. Óin and his brother Glóin were usually in charge of preparing the fire for the Company. He fought
            in and survived the Battle of the Five Armies, and later settled in the Lonely Mountain along with many
            other dwarves of The Company of Thorin</p>
    </div>
    <div class="col-md-5">
        <img src="https://s3.amazonaws.com/gs-geo-images/357f167e-f788-403d-9786-37996d2a52a4_l.jpg"
            alt="profile picture on Óin">
    </div>
</div>
<!-- Gloin -->
<div class="row featurette py-2">
    <div class="col-md-5">
        <img src="http://middle-earthencyclopedia.weebly.com/uploads/3/8/2/9/3829140/8975935.jpeg?0"
            alt="profile picture on Gloin">
    </div>
    <div class="col-md-7">
        <h3>Gloin</h3>
        <p>In TA 2799, Glóin was known to have fought in the Battle of Azanulbizar, the last battle of the War of the
            Dwarves and Orcs. In TA 2941, Glóin and his brother Óin, along with his cousins Dwalin and Balin, were among
            the Dwarves accompanying Thorin and Company during their quest to the Lonely Mountain to recapture The
            Kingdom of Erebor from the Dragon Smaug. He was noted for his skills with a tinderbox, and, along with his
            brother Óin, was usually the one told to get a fire started whenever the Dwarves made camp. Gloin also
            fought in the Battle of the Five Armies.[1] After the battle, he settled back into the Lonely Mountain.</p>
    </div>
</div>
<!-- Balin -->
<div class="row featurette py-2">
    <div class="col-md-7">
        <h3>Balin</h3>
        <p>Balin was likely born in the Lonely Mountain before the coming of the dragon Smaug. He had a younger brother
            named Dwalin, and was amongst those driven from their homes when Smaug attacked the Lonely Mountain.
            Afterwards, he may have lived in Dunland as a refugee, before fighting in the War of the Dwarves and Orcs
            which culminated in the Battle of Azanulbizar. Many years later, in approximately TA 2841, he accompanied
            Thráin II, the father of Thorin, when he attempted to go back to the Lonely Mountain himself, but Thráin was
            captured and lost.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/4/48/Balinpro.png/revision/latest?cb=20160624191815"
            alt="profile picture on Balin">
    </div>
</div>
<!-- Dwalin -->
<div class="row featurette py-2">
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg/revision/latest?cb=20120911200601"
            alt="profile picture on Dwalin">
    </div>
    <div class="col-md-7">
        <h3>Dwalin</h3>
        <p>Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of Fundin and
            younger brother of Balin. After fighting in the Battle of Azanulbizar at the age of 27, Dwalin accompanied
            Thrain the Second and Thorin Oakenshield to settle peacefully in the northern Ered Luin.

            Later in TA 2841, Dwalin, along with his brother Balin, and a few others accompanied Thráin when he left the
            Ered Luin to visit Erebor. The small party was dogged by the emissaries of Sauron. In TA 2845, Thráin was
            captured one night when he and his companions sheltered under the eaves of Mirkwood from a black rain. After
            a fruitless search for their leader, the Dwarves gave up and returned to Thorin to inform him the news.</p>
    </div>
</div>
<!-- Ori -->
<div class="row featurette py-2">
    <div class="col-md-7">
        <h3>Ori</h3>
        <p>Ori lived in Thorin's Halls in the northern Blue Mountains for many years. In the year TA 2941, Ori became a
            member of Thorin's Company and travelled with Thorin, Gandalf, Bilbo Baggins, and the other dwarves on the
            quest for the Lonely Mountain, culminating in the death of Smaug. Finally, he and the other dwarves of
            Thorin's Company fought in the Battle of the Five Armies, and he survived it.[2]

            The Final Days Edit
            Ori Khazad-dûm
            Ori's final resting place in Moria, holding the Book of Mazarbul
            Ori lived in Thorin's Halls in the northern Blue Mountains for many years. In the year TA 2941, Ori became a
            member of Thorin's Company and travelled with Thorin, Gandalf, Bilbo Baggins, and the other dwarves on the
            quest for the Lonely Mountain, culminating in the death of Smaug. Finally, he and the other dwarves of
            Thorin's Company fought in the Battle of the Five Armies, and he survived it.[2]

            The Final Days Edit
            Ori Khazad-dûm
            Ori's final resting place in Moria, holding the Book of Mazarbul

            Ori was one of the several Dwarves that accompanied Balin to Moria in TA 2989 to begin a colony there.
            Though it saw initial success, the colony was destroyed in TA 2994 when the Balrog and Orcs began to press
            back from the initial fight. After Balin died, Ori and others lived just long enough to bury him properly in
            a stone tomb before dying themselves in the last stand in the Chamber of Mazarbul. Ori recalls his last
            moments in The Book of Mazarbul which Gandalf reads from when the Fellowship passes by Balin's Tomb some
            twenty-four years later. His body is left clutching the scarred, bloodied, and shredded book; a
            warrior-scribe to the last breath</p>
    </div>
    <div class="col-md-5">
        <img src="https://66.media.tumblr.com/505042ca41fcabc7040734adafcfc315/tumblr_inline_mf7leaOjQb1rnjtu1.png"
            alt="profile picture on Ori">
    </div>
</div>
<!-- Dori -->
<div class="row featurette py-2">
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/1/12/Dori_the_hobbit.png/revision/latest?cb=20160712020941"
            alt="profile picture on Dori">
    </div>
    <div class="col-md-7">
        <h3>Dori</h3>
        <p>Before The Quest of Erebor, Dori lived in Thorin's home in the northern Blue Mountains with Nori and Ori. In
            TA 2941, Dori and his two brothers became part of Thorin and Company, befriending Bilbo Baggins and
            traveling with him in search of Smaug's treasure at the Lonely Mountain.</p>
        <p>It fell to Dori to carry Bilbo Baggins in the tunnels of the Misty Mountains during the escape from the
            Goblins, but Dori dropped Bilbo, and the other Dwarves and Gandalf blamed him for "losing their burglar."
            Later, during their escape from the Wargs and Orcs, Dori helped Bilbo climb a tree to get away from the
            wargs. Bilbo shortly thereafter saved Dori by grabbing his legs as they were rescued by the Great Eagles and
            taken to their eyrie in the Misty Mountains.</p>
    </div>
</div>
<!-- Nori -->
<div class="row featurette py-2">
    <div class="col-md-7">
        <h3>Nori</h3>
        <p>Nori was the brother of Dori and Ori. Both Nori and Dori were capable flutists, and seem to have carried
            their flutes with them. Both these apparent brothers also shared Bilbo's liking for regular meals. Before
            the Quest for the Lonely Mountain, Nori lived in Thorin's Halls in the northern Blue Mountains with his two
            brothers.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/thehobbitfilm/images/b/be/Nori.jpg/revision/latest?cb=20180228154426"
            alt="profile picture on Nori">
    </div>
</div>
<!-- Bifur -->
<div class="row featurette py-2">
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/b/b5/Bifur.jpg/revision/latest?cb=20110721162959&path-prefix=de"
            alt="profile picture on Bifur">
    </div>
    <div class="col-md-7">
        <h3>Bifur</h3>
        <p>Whilst he was a descendant of the Dwarves of Khazad-dûm, Bifur was not of Durin's Folk. Most of his familial
            relations are unclear, and what is known of his parentage is very little. He and his family were driven out
            of their home in the Lonely Mountain by the Dragon Smaug, and were forced to live in exile, where the Dwarf
            warrior worked as a toy maker. Following Thorin II Oakenshield to a new life in the Blue Mountains, he
            continued his life as a toy maker.</p>
    </div>
</div>
<!-- Bofur -->
<div class="row featurette py-2">
    <div class="col-md-7">
        <h3>Bofur</h3>
        <p>Bofur was a descendant of the Dwarves of Rhudaur, but was not of Durin's Folk. He and his family hailed from
            the Blue Mountains. As such, they felt less strongly about the quest to reclaim the Lonely Mountain from the
            dragon Smaug, more interested in the adventure than a home they'd never seen.</p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/middle-earth-film-saga/images/e/e5/Bofur2.png/revision/latest?cb=20160625182301"
            alt="profile picture on Bofur">
    </div>
</div>
<!-- Bombur -->
<div class="row featurette py-2">
    <div class="col-md-5">
        <img src="https://i1.wp.com/www-images.theonering.org/torwp/wp-content/uploads/2010/11/bombur-stephenhunter.jpg"
            alt="profile picture on Bombur">
    </div>
    <div class="col-md-7">
        <h3>Bombur</h3>
        <p>Bombur's parentage is unknown; the only familial connections mentioned are his brother Bofur and his cousin
            Bifur. Bombur was not of Durin's line although he was descended from Dwarves of Moria. His birth year is
            also unknown, however, from Bilbo Baggins' account from the quest to Erebor it is known that the brothers
            Fíli and Kíli were the youngest of the 13 "by some fifty years" and that after Thorin had been captured,
            Balin was "the eldest left". Since Fíli was born in TA 2859 and Balin was born in TA 2763, this would put
            Bombur's birth between 2763 and 2809, and he would have been between 132 and 178 years old during the quest
            to Erebor. Prior to the quest Bombur probably lived in the Blue Mountains with Thorin after the loss of
            Thráin II.</p>
    </div>
</div>
<!-- Gandalf -->
<div class="row featurette py-2">
    <div class="col-md-7">
        <h3>Gandalf</h3>
        <p>Originally called Olórin, he was accounted as the wisest of the Maiar (with the possible exception of
            Melian). He was created by Ilúvatar before the Music of the Ainur[1], and was at the beginning of Time
            amongst the Ainur who entered into Eä.[2] In his "youth", he became one of the Maiar who served Manwë,
            Varda, Irmo and Nienna named. He was associated with light and fire, much like his peer Varda.[3] Yet his
            ways often took him to Nienna, from whom he learned pity and patience. He loved the Elves, but he walked
            unseen among them, or wore a fana that appeared like an Elf, and sent them fair visions in their hearts that
            made them wiser. Throughout his existence, he followed the example of Nienna, he took pity on the sorrows of
            the Children of Ilúvatar and drove those who listened to him out of despair.</p>
    </div>
    <div class="col-md-5">
        <img src="https://i.redd.it/xv1iqwst62h31.jpg" alt="profile picture on Gandalf">
    </div>
</div>

{% endblock %}